* {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.modal__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 240px;
    padding: 20px;
    background: white;
    border-radius: 20px;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form button {
    align-self: center;
    min-height: 30px;
    padding: 0 20px;
    margin-top: 10px;
}

input {
    margin-left: 16px;
    width: 100%;
    min-height: 24px;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

label:last-child {
    margin-bottom: 0;
}

label span {
    min-width: 80px;
}

.hidden {
    display: none;
}

.error {
    color: red;
    margin-top: 4px;
    align-self: center;
}

.image-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.image-list .image-item {
    padding: 25px;
    width: 50%;
}

.image-list img {
    cursor: pointer;
    width: 100%;
}

.element-1 {
    display: flex;
    width: 200px;
    height: 200px;
    background: lightgreen;
}

.element-2 {
    display: flex;
    width: 120px;
    height: 120px;
    margin: auto;
    background: lightblue;
}

.element-3 {
    width: 50px;
    height: 50px;
    margin: auto;
    background: lightcoral;
}